.App {
  text-align: center;
  height: 100%
}

html,body{
  height: 100%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.children{
  background: #efeff4;
  height: 100vh;
  padding:0px;
  position: relative;
}
.container{
  height: 100vh
}

.clockFooter{
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: #f7f7f8

}
.clockHeader{
  position: relative;
  top: 0px;
  width: 100%;
  background: #f7f7f8

}
.text-left{
  text-align: left
}
.text-right{
  text-align: right
}
.error{
  color:red
}
.removeIcon{
  color:red;
  font-size: 16px
}

.alarm-screen{
    position: absolute;
    width: 100%;
    top: 0px;
    height: 100%;
}
.h100{
  height: 100%
}
.alaram-card{
  background: black;
  color: white
}
.alarm-screen {
    height: 100%;
    background: black;
    color: white
}
.alarm-screen-div{
  padding: 10%
}

.alarm-label{
  font-size: 50px;
}

.clock-date{
  font-size: 25px;
    color: #999;
}
.clock-time{
  font-size: 40px
}

.mt15{
  background:#f7f7f8
}

.alrDiv{
    text-align: left;
    margin-left: 5%;
    font-size: 25px;
    padding:2%
    /* margin-bottom: 5%; */
}

.header-title{
  margin-top: 5%;
  font-size: 18px
}


.no-alarm{
  font-size: 50px
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
